.nav-er {
    margin:20px 0px 7px;
    text-align:center;
}
.nav-er a {
    display: inline-block;
    padding:10px;
    background-color:  #F1F1F1;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    border: 1px solid #DDDDDD;
    color: #444444;
    border-radius:4px;
    text-decoration: underline;
    margin:0px 7px;
}
.nav-er a:hover {
    color:#222;
    text-decoration:none;
    background: #F5F5F5;
}
h4.finish {
    margin:0px;
    color:#262626;
    font-weight: normal;
    font-size:20px;
}
.onapp-preloader {display:none; color:#7F7F7F;padding-left:178px;font-size:11px;background:#EBEBEB;font-weight:bold;}
.pdx {
    margin-bottom:10px;
}
select.multi {
    min-width:120px;
}

.form select {
    margin:0px;
}
.paddedin {
    margin: 2px 10px 20px 10px;
}
.odescr {
    padding-left:7px;
}
.onapp_opt:hover {
    border: solid 1px  #CCCCCC;
    background:#f6fafd;
}
.opicker {
    width: 25px;
    background:#f4f4f4;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
}
.onapp_opt {
    border: solid 1px #DDDDDD;
    padding:4px;
    margin:15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.onapp_active {
    border:solid 1px #96c2db;
    background:#f5f9fa;
}
.graylabel {
    font-size:11px;
    padding:2px 3px;
    float:left;
    clear:both;
    background:#ebebeb;
    color:#7f7f7f;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; 
}
#testconfigcontainer .dark_shelf {
    display:none;
}